{{>dashhead}}

<style>
    .nav-3 h2 a{
        color: black;
    }
</style>


            <div class="container-fluid">
                <div class="row">
                    <div id="user_search">
            
                        <div class="col-lg-6">
            
                            <div id="catMsg">
                                <h5 id="noResultsFound">no results found!!</h5>
                            </div>
            
                        </div>
            
            
                        <div class="col-lg-6">
            
                            <div id="search">
                                <input type="search" placeholder="Search Coupons" aria-label="Search" />
                            </div>
            
                        </div>
            
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="row">
        <div class="col-lg-10 m-auto">
            <div class="table-container">
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">COUPON CODE</th>
                            <th scope="col">DISCOUNT PERCENT</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">EXPIRY DATE</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each couponData}}
                        <tr id="couponRow{{this._doc._id}}">
                            <td scope="row">{{@index}}</td>
                            <td>{{this._doc.code}}</td>
                            <td>{{this._doc.discount}}%</td>
                            {{#if this._doc.status}}
                            <td style="color: green; font-weight: 600;"> ACTIVE</td>
                            {{else}}
                            <td style="color: red; font-weight: 600;">INACTIVE</td>
                            {{/if}}
                            <td>{{this.expiryDate}}</td>
                            <td>
                                <button onclick="deleteCoupon('{{this._doc._id}}')"
                                    class="btn btn-sm btn-danger">DELETE</button>
                                <button onclick="blockCoupon('{{this._doc._id}}')"
                                    class="btn btn-sm btn-primary">BLOCK</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <div class="text-center mt-4 mb-5">
        <a href="/admin/loadAddCoupon"><button class="btn btn-primary add_user">Add
                Coupon</button></a>
    </div>

</div>




    {{>dashfoot}}