{{>dashhead}}


<style>
    form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 1rem;
    }

  
    input[type="file"] {
        margin-bottom: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        width: 100%;
        max-width: 400px;
    }

     input[type="text"]{
        margin-bottom: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        width: 100%;
        
    }

    label {
        margin-top: 1rem;

        margin-bottom: 5px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        width: 100%;
        max-width: 400px;
        margin-bottom: 2rem;
    }

    input[type="submit"]:hover {
        background-color: #3e8e41;
    }

    img {
        max-width: 200px;
        max-height: 200px;
        margin-bottom: 20px;
    }

    .container {
        border-radius: 20px;
        border: 1px solid black;
        margin-left: 7.9rem;
        background-color: #2e92a9;
        color: white;
        width: 50%;

        margin-bottom: 2rem
    }
</style>


</div>
</div>



            

                <div class="container" id="addCategory">
                    <h1>Update Banner</h1>

                    <form action="/admin/updateBanner/{{bannerData._id}}" method="post" id="bannerValidate" enctype="multipart/form-data">
                
                        <div class="row">
                            <div class="col-lg-6">
                        <input type="text" placeholder="Enter banner title" id="title" value="{{bannerData.title}}" name="title">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Enter offer label" id="label" value="{{bannerData.label}}" name="label">
                            
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                        <input type="text" placeholder="Banner subtitle" id="bannerSubtitle" value="{{bannerData.subtitle}}" name="bannerSubtitle">
                            </div>
                        </div>

                
                
                
                        <label for="image">Banner Image :</label>
                        <input type="file" id="image" name="image" accept="image/*" required>
                
                        <img id="preview" src="/uploads/{{bannerData.image}}" alt="Image Preview">
                
                        <input type="submit" value="Update Banner">
                    </form>
                </div>


</div>

{{>dashfoot}}