{{>dashhead}}







            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" id="user_search">


                        <div class="col-6" id="catMsg">
                            <h5 style="color: #4CAF50;">{{productUpdated}}</h5>
                            <h5 id="noResultsFound">no results found!!</h5>

                        </div>

                        <div class="col-6" id="search">
                            <input type="search" placeholder="Search Orders" aria-label="Search" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-10 m-auto">


            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">PRODUCT</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">QUANTITY</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody style="height: 5rem;">


                    <tr>
                        <td scope="row">1</td>
                        <td id="coloumn1_{{@index}}">Name</td>
                        <td id="coloumn2_{{@index}}">Product</td>
                        <td style="width: 15rem;" id="coloumn3_{{@index}}">Address</td>
                        <td scope="row">1 nos</td>
                        <td scope="row">2,500</td>
                        <td scope="row"><button class="btn btn-sm btn-success">Shipped</button></td>

                        <td>
                            <button id="orderUpdateBtn" class="btn btn-sm btn-primary">Update</button>
                            <a href="/delete/{{this._id}}" class="btn btn-sm btn-danger">Delete</a>

                        </td>
                    </tr>



                </tbody>
            </table>


        </div>

    </div>
</div>




{{>dashfoot}}