{{>dashhead}}


<style>
    .nav-2 h2 a{
        color: black;
    }
</style>





            <div class="container-fluid">
                <div class="row">
                    <div id="user_search">
            
                        <div class="col-lg-6">
            
                            <div id="catMsg">
                                <h5 style="color: #4CAF50;">{{userUpdated}}</h5>
                                <h5 id="noResultsFound">no results found!!</h5>
                            </div>
            
                        </div>
            
            
                        <div class="col-lg-6">
            
                            <div id="search">
                                <input type="search" placeholder="Search Users" aria-label="Search" />
                            </div>
            
                        </div>
            
            
            
            
            
            
            
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-10 m-auto">
            <div class="table-container">
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">NAME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">MOBILE NUMBER</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td scope="row">{{@index}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.mobile}}</td>
                            <td>
                                {{#if this.is_blocked}}
                                <a href="/admin/blockUser/{{this.id}}"><button
                                        class="btn btn-sm btn-success">Unblock</button></a>
                                {{else}}
                                <a href="/admin/blockUser/{{this.id}}"><button
                                        class="btn btn-sm btn-danger">Block</button></a>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    </div>
</div>




{{>dashfoot}}