<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yara</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/logo.png">

    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="homecss/bootstrap.min.css">
    <link rel="stylesheet" href="homecss/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="homecss/plugins/magnific-popup/magnific-popup.css">


    <link rel="stylesheet" href="homecss/style.css">
    <link rel="stylesheet" href="homecss/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.min.css">
    

    


</head>



<style>


    
    @import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");

.swal2-popup {
        font-size: 1.2rem !important;
    }

.footer {
    background-color: #222
}

.footer .footer-logo {
    margin-top: 0
}

.footer .widget-about p {
    max-width: 540px
}

.footer .widget-about-title {
    color: #fff
}

.footer .widget-about-info a {
    color: #eea287
}

.footer .widget-title {
    text-transform: uppercase;
    letter-spacing: .01em;
    color: #fff
}

.footer .footer-middle {
    border: none;
    padding-top: 6rem
}

.footer-bottom .container:before,
.footer-bottom .container-fluid:before {
    background-color: #444
}

.header .logo {
    position: relative;
    transform: translateX(0) translateY(0);
    left: 0;
    margin: 0
}

.header .header-left a {
    display: flex;
    align-items: center
}

.header .cart-dropdown,
.header .compare-dropdown {
    padding-left: 2.4rem
}

.header .cart-dropdown .cart-txt,
.header .compare-dropdown .cart-txt {
    transition: color .3s
}

.header .cart-dropdown:hover .cart-txt,
.header .cart-dropdown:hover .dropdown-toggle,
.header .cart-dropdown:focus .cart-txt,
.header .cart-dropdown:focus .dropdown-toggle,
.header .cart-dropdown.active .cart-txt,
.header .cart-dropdown.active .dropdown-toggle,
.header .compare-dropdown:hover .cart-txt,
.header .compare-dropdown:hover .dropdown-toggle,
.header .compare-dropdown:focus .cart-txt,
.header .compare-dropdown:focus .dropdown-toggle,
.header .compare-dropdown.active .cart-txt,
.header .compare-dropdown.active .dropdown-toggle {
    color: #eea287
}

.header .wishlist-link {
    font-size: 2.8rem
}

.header .wishlist-link:hover .wishlist-txt,
.header .wishlist-link:focus .wishlist-txt {
    color: #eea287
}

.header .wishlist-link .wishlist-count,
.header .cart-dropdown .cart-count {
    min-width: 1.7rem;
    height: 1.7rem;
    margin-bottom: 1.5rem;
    margin-left: -1.2rem;
    background-color: #222;
    color: #fff;
    font-weight: 400;
    font-size: 1rem
}

.header .cart-dropdown span {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    color: #222;
    margin-left: .8rem
}

.header .header-bottom {
    background-color: #fff
}

.header .header-bottom .menu>li>a {
    letter-spacing: .01em;
    color: #222;
    padding-top: 2rem;
    padding-bottom: 2rem
}

.header .header-bottom .menu>li>a:before {
    top: unset;
    bottom: 1.5rem;
    background-color: #222
}

.header .header-bottom .menu>li+li {
    margin-left: .4rem
}

.header .header-bottom .cart-dropdown:not(:hover):not(.show) .dropdown-toggle,
.header .header-bottom .compare-dropdown:not(:hover):not(.show) .dropdown-toggle {
    color: #666
}



.header .header-right {
    margin-left: 0
}
</style>




<body>


<div class="page-wrapper">

<header class="header">
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="/home" class="logo">
                        <img src="/assets/images/demos/demo-8/logo.png" alt="Molla Logo" width="60" height="10">
                    </a>
                </div>
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/home" class="">Home</a>
                            </li>
                           {{#each categoryData}}
                            <li>
                                <a href="/products?id={{this._id}}" class="">{{this.category}}</a>
                            </li>
                            {{/each}}
                            {{#if userData}}
                            <li>
                                
                                <a href="" class="sf-with-ul">{{userData.name}}</a>

                                <ul>
                                    <li><a href="/profile">Profile</a></li>
                                    <li><a href="/myOrders">My Orders</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                            {{else}}
                            <li>
                                
                                <a href="" class="sf-with-ul">Account</a>

                                <ul>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/about">About</a></li>
                                </ul>
                            </li>

                            {{/if}}

                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="/allProducts" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="search" id="q" placeholder="Search in..."
                                    required>
                                    
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->

                    {{#if userData}}

                    <a href="/wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-count">{{userData.wishlist.length}}</span>
                    </a>

                    <a href="/cart?id={{userData._id}}" class="wishlist-link">
                        <i class="icon-shopping-cart"></i>
                        <span class="wishlist-count">{{userData.cart.length}}</span>
                    </a>

                    {{else}}

                    <a href="/login" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <!-- <span class="wishlist-count"> </span> -->
                    </a>

                    <a href="/login" class="wishlist-link">
                        <i class="icon-shopping-cart"></i>
                        {{!-- <span class="wishlist-count">0</span> --}}
                    </a>
                    {{/if}}

                    {{!-- <div class="dropdown cart-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <!-- <span class="cart-count">2</span>
                            <span class="cart-txt">$ 164,00</span> -->
                        </a>

                        <!-- <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-cart-products">
                                <div class="product">
                                    <div class="product-cart-details">
                                        <h4 class="product-title">
                                            <a href="product.html">Beige knitted elastic runner shoes</a>
                                        </h4>

                                        <span class="cart-product-info">
                                            <span class="cart-product-qty">1</span>
                                            x $84.00
                                        </span>
                                    </div> -->

                        <!-- End .product-cart-details -->

                        <!-- <figure class="product-image-container">
                                        <a href="product.html" class="product-image">
                                            <img src="/assets/images/products/cart/product-1.jpg" alt="product">
                                        </a>
                                    </figure>
                                    <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                </div> -->

                        <!-- End .product -->

                        <!-- <div class="product">
                                    <div class="product-cart-details">
                                        <h4 class="product-title">
                                            <a href="product.html">Blue utility pinafore denim dress</a>
                                        </h4>

                                        <span class="cart-product-info">
                                            <span class="cart-product-qty">1</span>
                                            x $76.00
                                        </span>
                                    </div> -->

                        <!-- End .product-cart-details -->

                        <!-- <figure class="product-image-container">
                                        <a href="product.html" class="product-image">
                                            <img src="/assets/images/products/cart/product-2.jpg" alt="product">
                                        </a>
                                    </figure>
                                    <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                </div> -->

                        <!-- End .product -->
                        <!-- </div> -->

                        <!-- End .cart-product -->

                        <!-- <div class="dropdown-cart-total">
                                <span>Total</span>

                                <span class="cart-total-price">$160.00</span>
                            </div> -->

                        <!-- End .dropdown-cart-total -->

                        <!-- <div class="dropdown-cart-action">
                                <a href="cart.html" class="btn btn-primary">View Cart</a>
                                <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                            </div> -->

                        <!-- End .dropdown-cart-total -->
                        <!-- </div> -->

                        <!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown --> --}}


                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

