<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="/assets/images/demos/demo-8/logo-footer.png" class="footer-logo" alt="Footer Logo"
                            width="82" height="25">
                        <p>Yara - Your destination for premium, natural skincare. Shop now and discover
                            the best skin care products from around the world. </p>

                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Got Question? Call me 24/7</span>
                                    <a href="tel:+919567632318">+91 9567 6323 18</a>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6 col-md-8">
                                    <span class="widget-about-title">Payment Method</span>
                                    <figure class="footer-payments">
                                        <img src="/assets/images/payments.png" alt="Payment methods" width="272"
                                            height="20">
                                    </figure><!-- End .footer-payments -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">About Yara</a></li>

                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="faq.html">FAQ</a></li>

                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>

                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Profile</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2023 Yara Store. All Rights Reserved.</p>
            <!-- End .footer-copyright -->
            <ul class="footer-menu">
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul><!-- End .footer-menu -->

            <div class="social-icons social-icons-color">
                <span class="social-label">Social Media</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                        class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                        class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                        class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                        class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                        class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->

</div><!-- End .page-wrapper -->



<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="/allProducts" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    {{#if userData}}
                    <a href="">{{userData.name}}</a>
                    {{else}}
                    <a href="">Account</a>
                    {{/if}}
        
                    <ul>
                        {{#if userData}}
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/myorders">My Orders</a></li>
                        <li><a href="/logout">Logout</a></li>
                        {{else}}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Create account</a></li>
                        <li><a href="/about">About</a></li>
                        {{/if}}
                    </ul>
                </li>
                <li>
                    <a href="">Shop</a>
                    <ul>
                        {{#each categoryData}}
                        <li><a href="/products?id={{this._id}}">{{this.category}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <a href="" class="sf-with-ul">products</a>
                    <ul>
                        {{#each subCategoryData}}
                        <li><a href="/products?id={{this._id}}">{{this.subCategory}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <a href="">Orders</a>
                    <ul>
                        {{#if userData}}
                        <li><a href="/cart?id={{userData._id}}">Cart</a></li>
                        <li><a href="/wishlist">Wishlist</a></li>
                        {{else}}
                        <li><a href="/login">Cart</a></li>
                        <li><a href="/login">Wishlist</a></li>
                        {{/if}}
                    </ul>
                </li>
                <li>
                    <a href="">Wallet Balance</a>
                    <ul>
                        {{#if userData}}
                        <li><a href="">Available wallet balance <br>₹ {{userData.wallet}}</a></li>
                        <input type="hidden" id="userWallet" value="{{userData.wallet}}">
                        {{else}}
                        <li><a href="/login">Please login to check your wallet balance</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="https://www.facebook.com/" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="https://twitter.com/azzzrro" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="https://www.instagram.com/azzzrro/" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="https://www.youtube.com/" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->








<script src="homejs/jquery.min.js"></script>
<script src="homejs/bootstrap.bundle.min.js"></script>
<script src="homejs/jquery.hoverIntent.min.js"></script>
<script src="homejs/jquery.waypoints.min.js"></script>
<script src="homejs/superfish.min.js"></script>
<script src="homejs/owl.carousel.min.js"></script>

<script src="homejs/jquery.plugin.min.js"></script>
<script src="homejs/jquery.magnific-popup.min.js"></script>
<script src="homejs/jquery.countdown.min.js"></script>


<script src="homejs/main.js"></script>
<script src="homejs/demos/demo-8.js"></script>
<script src="/js/users.js"></script>






</body>


</html>