{{>cartheader}}

<style>
    #userName-error,
    #userMobileNumber-error,
    #userEmail-error,
    #userCurrentPassword-error {
        font-size: 9pt;
        color: #c96;
        ;
        position: relative;
    }

    #name-error,
    #mobileNumber-error,
    #addressLine-error,
    #email-error,
    #city-error,
    #state-error,
    #pincode-error,
    #mobile-error{
        font-size: 9pt;
        color: #c96;
        ;
        position: relative;
    }
</style>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>

                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                    href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                    aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab"
                                    aria-controls="tab-orders" aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
                                    role="tab" aria-controls="tab-downloads" aria-selected="false">Wallet History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                    role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                    role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Log Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                aria-labelledby="tab-dashboard-link">
                                <p style="font-size: 4rem;">Hello, <span
                                        class="font-weight-normal tab-trigger-link">{{userData.name}}</span></p>

                                <p>From your account dashboard you can view your <a href="#tab-orders"
                                        class="tab-trigger-link">recent orders</a>, manage your <a href="#tab-address"
                                        class="tab-trigger-link">addresses</a>, and <a href="#tab-account"
                                        class="tab-trigger-link">edit your password and account details</a>.</p>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                aria-labelledby="tab-orders-link">
                                <p>For all orders.</p>
                                <a href="/myOrders" class="btn btn-outline-primary-2"><span>VIEW ORDERS</span><i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                aria-labelledby="tab-downloads-link">
                                

                                <table class="table table-wishlist table-mobile">
                                
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Details</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                
                                        {{#if newTransactions.length}}
                                        {{#each newTransactions}}
                                        <tr>
                                            <td>{{this.date}}</td>
                                            <td>{{this.details}}</td>
                                            <td>₹ {{this.amount}}</td>

                                            {{#if (eq this.status "Debit")}}
                                            <td style="color: red; font-weight: 600;">{{this.status}}</td>
                                            {{else if (eq this.status "Credit")}}
                                            <td style="color: green; font-weight: 600;">{{this.status}}</td>
                                            {{/if}}
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td colspan="4">No transactions yet</td>
                                        </tr>
                                        {{/if}}
                                
                                    </tbody>
                                </table><!-- End .table table-wishlist -->



                                <a href="category.html" class="btn btn-outline-primary-2"><span>Available Balance : ₹ {{userData.wallet.balance}}</span>
                                {{!-- <i class="icon-long-arrow-right"></i> --}}
                                </a>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                aria-labelledby="tab-address-link">
                                <h3 class="card-title mt-2 mb-2">Billing Address</h3><!-- End .card-title -->
                                <p>The following addresses will be used on the checkout page by default.</p>



                                <div class="row">

                                    {{#each addressData}}
                                    <div class="col-lg-6" id="addressCard{{this._id}}">
                                        
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                

                                            <p> <strong>Name:</strong> {{this.name}}<br>
                                                <strong>Mobile number:</strong> {{this.mobile}}<br>
                                                <strong>Email:</strong> {{this.email}}<br>
                                                <strong>Address:</strong> {{this.addressLine}}<br>
                                                <strong>City:</strong> {{this.city}}<br>
                                                <strong>State:</strong> {{this.state}}<br>
                                                <strong>Pincode:</strong> {{this.pincode}}<br>

                                                <a class="edit-address-btn" id="editAddressBtn" href="#" data-id="{{this._id}}" onclick="scrollToForm()" >Edit 
                                                    <i class="icon-edit"></i></a>
                                                <a href="#" class="ml-5" onclick="deleteAddress('{{this._id}}')">Delete <i class="fa-solid fa-trash"></i></a>
                                            </p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->

                                    {{/each}}

                                    {{!-- <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                                                <p>You have not set up this type of address yet.<br>
                                                    <a href="#">Edit <i class="icon-edit"></i></a>
                                                </p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 --> --}}
                                </div><!-- End .row -->


                                <button type="submit" id="addAddressBtn" class="btn btn-outline-primary-2 mt-1" onclick="scrollToForm2()">
                                    <span>ADD NEW ADDRESS</span>

                                </button>


                                <div style="display: none;" class="div mt-5" id="addAddressPanel">


                                    <h2 class="checkout-title">Add New Address</h2>
                                    <form id="addAddress" >
                                        <div class="row">
                                            <div class="col-sm-6">


                                                <label>Full Name *</label>
                                                <input type="text" name="name" class="form-control ">
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Mobile Number *</label>
                                                <input type="number" name="mobileNumber" class="form-control">
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Address Line *</label>
                                        <input type="text" name="addressLine" class="form-control ">


                                        <div class="row">
                                            <div class="col-sm-6">

                                                <label>Email *</label>
                                                <input type="text" name="email" class="form-control ">
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Town / City *</label>
                                                <input type="text" name="city" class="form-control ">


                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>State *</label>
                                                <input type="text" name="state" class="form-control">

                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Pincode *</label>
                                                <input type="number" name="pincode" class="form-control">
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->



                                        <button type="submit" class="btn btn-outline-primary-2 mt-1">
                                            <span>SAVE ADDRESS</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                    </form>
                                </div>


                                <div style="display: none;" class="div mt-5" id="editAddressPanel">


                                    <h2 class="checkout-title">Edit Address</h2>
                                    <form id="updateAddress">

                                        <input type="hidden" id="addressId" >

                                        <div class="row">
                                            <div class="col-sm-6">


                                                <label>Full Name *</label>
                                                <input type="text" name="name" class="form-control full-name-input" id="name">
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Mobile Number *</label>
                                                <input type="text" name="mobile" class="form-control  mobile-number-input" id="mobileNumber">
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Address Line *</label>
                                        <input type="text" name="addressLine" class="form-control address-line-input" id="addressLine">


                                        <div class="row">
                                            <div class="col-sm-6">

                                                <label>Email *</label>
                                                <input type="tel" name="email" class="form-control email-input" id="email">
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Town / City *</label>
                                                <input type="text" name="city" class="form-control city-input" id="city">


                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>State *</label>
                                                <input type="text" name="state" class="form-control state-input" id="state">

                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Pincode *</label>
                                                <input type="text" name="pincode" class="form-control pincode-input" id="pincode">
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->



                                        <button type="submit" class="btn btn-outline-primary-2 mt-1">
                                            <span>SAVE ADDRESS</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                    </form>

                                    
                                </div>

                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                aria-labelledby="tab-account-link">
                                <form action="#" id="userProfile">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Name</label>
                                            <input type="text" class="form-control" name="userName"
                                                value="{{userData.name}}" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Mobile Number</label>
                                            <input type="number" class="form-control" name="userMobileNumber"
                                                value="{{userData.mobile}}" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <label>Email address</label>
                                            <input type="email" class="form-control" name="userEmail"
                                                value="{{userData.email}}" required>

                                        </div>

                                        <div class="col-sm-6">

                                            <label>Current password</label>
                                            <input type="password" class="form-control" name="userCurrentPassword">

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <label>New password</label>
                                            <input type="password" class="form-control" name="userNewPassword">
                                        </div>

                                        <div class="col-sm-6">

                                            <label>Confirm new password</label>
                                            <input type="password" class="form-control mb-2"
                                                name="userConfirmNewPassword">

                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Referral Code</label>
                                            <input disabled value="{{userData.referralCode}}" class="form-control" name="userNewPassword">
                                        </div>

                                    </div>



                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->




{{>cartfooter}}