{{>cartheader}}



<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shopping Cart</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                {{#each cart}}
                                <input type="hidden" value="{{this.product}}" name="cartData">

                                <tr id="row{{this.product._id}}" class="table_row">
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="/productview?id={{this.product._id}}">
                                                    <img src="{{this.product.imageUrl.[0].url}}"
                                                        alt="Product image">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="#">{{this.product.name}}
                                                    {{#if (eq this.product.stock 1)}}
                                                    <sup style="color: red;">ONLY 1 LEFT</sup> 
                                                    {{else if (eq this.product.stock 2)}}
                                                    <sup style="color: red;">ONLY 2 LEFT</sup>                                                     
                                                    {{else if (checkStock this.product.stock)}}
                                                    <sup style="color: red;">ONLY FEW LEFT</sup>
                                                    {{/if}}
                                                     </a>
                                            </h3><!-- End .product-title -->
                                        </div><!-- End .product -->
                                    </td>
                                    <div class="product-price">
                                    <td class="price-col" value="{{this.product.price}}">
                                        {{#if this.product.oldPrice }}
                                        <div class="old-price" >₹ {{this.product.oldPrice}}</div>
                                        <div class="new-price" >₹ {{this.product.price}}</div>
                                        {{else}}
                                        <div>₹ {{this.product.price}}</div>
                                        {{/if}}
                                        </td>
                                    </div>

                                    <input type="hidden" name="productprice" value="{{this.product.price}}">

                                    <input type="hidden" name="productId" value="{{this.product._id}}">




                                    <td class="quantity-col">
                                        <div class="cart-product-quantity">



                                            <div class="input-group  input-spinner">
                                                
                                                <div class="input-group-prepend">
                                                    <button onclick="totalPrice('{{this.product._id}}','dec')" style="min-width: 26px" class="btn btn-decrement btn-spinner" type="button">
                                                        <i  class="icon-minus"></i>
                                                    </button>
                                                </div>
                                                
                                                <input disabled type="number" id="{{this.product._id}}" style="text-align: center;" class="form-control" name="num-product" value="{{this.quantity}}">


                                                <div class="input-group-append">
                                                    <button onclick="totalPrice('{{this.product._id}}','inc','{{this.product.stock}}')" style="min-width: 26px" class="btn btn-increment btn-spinner" type="button">
                                                        <i class="icon-plus"></i>
                                                    </button>
                                                </div>
                                            
                                            </div>




                                        </div><!-- End .cart-product-quantity -->
                                    </td>



                                    <td name="productTotal" id="total" class="total-col" value="{{this.total}}" >₹ {{this.total}}</td>

                                    <input type="hidden" id="product_id{{this.product._id}}"
                                        value="{{this.product._id}}">

                                    <input type="hidden" name="cart_id" value="{{this._id}}">



                                    <td class="remove-col"><button class="btn-remove" onclick="removeCartalert('{{this.product._id}}')">
                                        <i class="icon-close"></i></button>
                                    </td>
                                </tr>

                                {{/each}}



                            </tbody>
                        </table><!-- End .table table-wishlist -->

                        
                        {{!-- <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" required placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i
                                                    class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </form>
                            </div><!-- End .cart-discount -->

                            <a href="/cart?id={{userData._id}}" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i
                                    class="icon-refresh"></i></a>
                        </div><!-- End .cart-bottom --> --}}


                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td id="subTotal">₹ {{subTotal}}</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr class="summary-shipping">
                                        <td>Shipping:</td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="free-shipping" name="shipping"
                                                    class="custom-control-input" onchange="handleShippingSelection(this)">
                                                <label class="custom-control-label" for="free-shipping">Free
                                                    Shipping</label>
                                            </div><!-- End .custom-control -->
                                        </td>
                                        <td>₹0.00</td>
                                    </tr><!-- End .summary-shipping-row -->

                                    

                                    

                                    {{!-- <tr class="summary-shipping-estimate">
                                        <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr><!-- End .summary-shipping-estimate --> --}}

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td id="subTotal2">₹ {{subTotal}}</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <button disabled onclick="proceedToCheckout()" id="checkout-btn" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                CHECKOUT</button>
                        </div><!-- End .summary -->

                        <a href="/home" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                SHOPPING</span><i class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



{{>cartfooter}}

