{{>cartheader}}

<style>
    .swal2-popup {
        font-size: 1.4rem !important;
    }
    .btnCoupon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.85rem 1.5rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: -.01em;
        min-width: 56px;
        border-radius: 0;
        white-space: normal;
        transition: all 0.3s;
        margin-bottom: 11px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    #coupon-dropdown {
        display: none;
        position: absolute;
        z-index: 999;
        background-color: #f9f9f9;
        min-width: 192px;
        padding: 5px 4px;
        margin: -12px 0 0;
        border: 1px solid #ddd;
        list-style-type: none;
    }

    #coupon-dropdown li {
        padding: 7px 5.5px;
        cursor: pointer;
        font-size: 10pt;
        color: #c96;
        font-weight: 500;


    }

    #coupon-dropdown li:hover {
        background-color: #c96;
        color: white;

    }

   

    .dropdown:hover #coupon-dropdown {
        display: block;
    }

    
    #couponMessage,
    #couponDiscount{
        color: green;
        font-weight: 500;
    }

    #subTotalText,
    #subTotal{
        font-weight: 600;
    }

    #name-error,
    #mobileNumber-error,
    #addressLine-error,
    #email-error,
    #city-error,
    #state-error,
    #pincode-error,
    #mobile-error{
        font-size: 9pt;
        color: #c96;
        ;
        position: relative;
    }
    .accordion-summary .card-body {
    padding: 7px 7px 0px 16px;
    }
    .card p{
        color: #c96;
        font-weight: 500;
    }
    .sticky-alert {
    position: sticky;
    top: 61px;
    z-index: 9999;
    }
    .card-dashboard .card-body, label{
        cursor: pointer;
    }

    .header .compare-dropdown:hover .dropdown-toggle{
        color: #c96;
    }

</style>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">

                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </symbol>
                </svg>

                
                <div class="col-lg-12 d-flex justify-content-end sticky-alert p-0">

                <div class="col-lg-4">
                    <div class="row ">

                

                <div id="insufficientBalanceAlert" class="alert alert-danger d-none align-items-center alert-dismissible" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div style="margin-left: 7px;">
                        Insufficient balance in your wallet <br> Please choose another payment method
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
                

                    </div>
                </div>

                </div>
                
                




                <div class="checkout-discount">

                </div><!-- End .checkout-discount -->

                <h3 class="card-title mt-3 mb-2">Choose Billing Address</h3><!-- End .card-title -->

                {{!-- <form action="/test" method="get"> --}}

                    <div class="row">

                        <div class="col-lg-9">

                            <div class="row">




                                {{#each addressData}}

                                <div class="col-lg-5">

                                    <div class="card card-dashboard">

                                        <div class="card-body">

                                            <label>


                                                <input type="radio" name="selectedAddress" value="{{this.id}}"
                                                    onchange="handleAddressSelection()"><br>

                                                <strong>Name:</strong> {{this.name}}<br>
                                                <strong>Mobile number:</strong> {{this.mobile}}<br>
                                                <strong>Email:</strong> {{this.email}}<br>
                                                <strong>Address:</strong> {{this.addressLine}}<br>
                                                <strong>City:</strong> {{this.city}}<br>
                                                <strong>State:</strong> {{this.state}}<br>
                                                <strong>Pincode:</strong> {{this.pincode}}<br>
                                                <a href="/profile">Edit <i class="icon-edit"></i></a>


                                            </label>

                                        </div><!-- End .card-body -->
                                    </div><!-- End .card-dashboard -->
                                </div><!-- End .col-lg-6 -->


                                {{/each}}

                            </div>


                            {{!-- <a href="/profile" class="btn btn-outline-primary-2 mt-1">
                                <span>ADD NEW ADDRESS</span>

                            </a> --}}



                            {{!-- new address form --}}

                            <div>
                                <h2 class="checkout-title">Or Add New Address</h2><!-- End .checkout-title -->

                                <form id="addAddressCheckout">
                                    <div class="row">
                                        <div class="col-sm-6">


                                            <label>Full Name *</label>
                                            <input type="text" name="name" class="form-control">
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Mobile Number *</label>
                                            <input type="text" name="mobileNumber" class="form-control">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Address Line *</label>
                                    <input type="text" name="addressLine" class="form-control">


                                    <div class="row">
                                        <div class="col-sm-6">

                                            <label>Email *</label>
                                            <input type="tel" name="email" class="form-control">
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Town / City *</label>
                                            <input type="text" name="city" class="form-control">


                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>State *</label>
                                            <input type="text" name="state" class="form-control">

                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Pincode *</label>
                                            <input type="text" name="pincode" class="form-control">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->



                                    <button type="submit" class="btn btn-outline-primary-2 mt-1">
                                        <span>SAVE ADDRESS</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                </form>
                            </div>


                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        {{#each cart}}
                                        <tr>
                                            <td style="color: #c96; font-weight: 500;"><a href="#">{{this.product.name}}</a></td>
                                            <td style="color: #c96; font-weight: 500">₹ {{this.total}}</td>
                                        </tr>
                                        {{/each}}


                                         {{#if offerDiscount}}
                                        <tr class="summary-subtotal">
                                            <td style="color: green; font-weight: 500;">Offer Discount :</td>
                                            <td style="color: green; font-weight: 500;">₹ {{offerDiscount}}</td>
                                        </tr>
                                        {{/if}}
                                        <tr id="couponModel" style="display: none;" class="summary-total">
                                            <td id="couponMessage">Coupon Discount:</td>
                                            <td id="couponDiscount" ></td>
                                        </tr>

                                        {{!-- <tr class="summary-subtotal">
                                            <td style="font-weight: 500;" >Subtotal:</td>
                                            <td>₹ {{subTotal}}</td>
                                        </tr><!-- End .summary-subtotal --> --}}
                                       
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr>
                                            {{!-- <div class="cart-bottom">
                                                <div class="cart-discount">
                                                    <form action="#">
                                                        <div class="input-group"> --}}

                                                            <td>
                                                                <div class="dropdown">
                                                                    <input style="width: 110%;" type="text"
                                                                        class="form-control"
                                                                        id="checkout-discount-input"
                                                                        placeholder="Coupon code">
                                                                    <ul id="coupon-dropdown" class="dropdown-menu">
                                                                        {{#if availableCoupons}}
                                                                        {{#each availableCoupons}}
                                                                        <li onclick="selectCoupon('{{this.code}}')">
                                                                            {{this.code}} <small> get {{this.discount}}%
                                                                            discount </small> </li>
                                                                        {{/each}}
                                                                        {{else}}
                                                                        <li>No coupons available</li>
                                                                        {{/if}}
                                                                    </ul>
                                                                </div>

                                                            </td>

                                                            {{!-- <div class="input-group-append"> --}}
                                                                <td>
                                                                    <button id="couponButton" onclick="validateCoupon()" class="btn btnCoupon btn-outline-primary-2"
                                                                        type="submit"><i id="couponIcon" class="icon-long-arrow-right"></i></button>
                                                                </td>



                                                                {{!--
                                                            </div><!-- .End .input-group-append -->
                                                        </div><!-- End .input-group -->
                                                    </form>
                                                </div><!-- End .cart-discount --> --}}
                                        </tr>

                                        

                                        <input type="hidden" id="subTotalValue" value="{{subTotal}}">

                                        

                                        <!-- End .summary-total -->
                                        
                                        <tr class="summary-total">
                                            <td id="subTotalText">Grand Total:</td>
                                            <td id="subTotal" >₹ {{subTotal}}</td>
                                        </tr><!-- End .summary-total -->

                                        
                                        
                                    </tbody>
                                </table><!-- End .table table-summary -->


                                <div class="accordion-summary" id="accordion-payment">


                                    <h6 class="mt-1 mb-2">PAYMENT METHODS</h6>


                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <label>
                                                    <input data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" 
                                                        aria-controls="collapseExample" class="payment-radio" type="radio" name="payment"
                                                            value="Wallet" onchange="handleAddressSelection()"> 
                                                        
                                                    Wallet
                                                </label>
                                            </h2>
                                        </div>
                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                <p>
                                                    Available Balance : ₹ {{userData.wallet.balance}}
                                                </p>
                                                <input type="hidden" id="userWallet" value="{{userData.wallet.balance}}" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mt-1">
                                        <div class="card-header" id="heading-2">
                                            <h2 class="card-title">
                                                <label>
                                                    <input class="payment-radio" type="radio" name="payment"
                                                        value="Razorpay" onchange="handleAddressSelection()"> 
                                                        
                                                    Razorpay
                                                </label>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        
                                        {{!-- <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Experience hassle-free and seamless Payments with Razorpay!
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse --> --}}
                                    
                                    </div><!-- End .card -->


                                    <div class="card mt-1">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                <label>
                                                    <input class="payment-radio" type="radio" name="payment"
                                                        value="Cash On Delivery" onchange="handleAddressSelection()"> 
                                                        
                                                    Cash On Delivery
                                                </label>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        
                                        {{!-- <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">Secure and Hassle-Free.
                                                Pay when your order arrives at your doorstep!
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse --> --}}
                                    
                                    </div><!-- End .card -->

                                    <div class="card mt-1">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <label>
                                                    <input class="payment-radio" type="radio" name="payment"
                                                        value="Paypal" onchange="handleAddressSelection()"> 
                                                        
                                                    Paypal
                                                </label>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        
                                        {{!-- <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Enjoy secure payments with PayPal, the globaly trusted payment platform.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse --> --}}
                                    
                                    </div><!-- End .card -->

                                    

                                    
                                    <div class="card ml-5 mt-2">
                                        <div class="card-header" id="heading-5">


                                            <img src="assets/images/payments-summary.png" alt="payments cards">


                                        </div><!-- End .card-header -->

                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button disabled onclick="placeOrder()" id="place-order-btn"
                                    class="btn btn-outline-primary-2 btn-order btn-block">
                                    Place Order

                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->

                    {{!--
                </form> --}}

            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



{{>cartfooter}}