{{>productheader}}

<style>
    .filterName{
        font-weight: 400;
        color: #333;
        cursor: pointer;
    }
</style>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shop products</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>

                <li class="breadcrumb-item active" aria-current="page">{{productData.category.category}}</li>

            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->



    <div class="page-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-9">
                    <div class="toolbox">

                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                {{!-- Showing <span>5</span> Products --}}
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortOptions" onchange="sortProducts()" class="form-control">
                                        <option value="relevent" selected="selected">Most Relevent</option>
                                        <option value="asc">Price: Low to High</option>
                                        <option value="desc">Price: High to Low</option>
                                    </select>
                                </div>
                            </div><!-- End .toolbox-sort -->
                        </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->




                    {{!-- product --}}

                    {{#if id}}
                    <input type="hidden" id="productId" value="{{id}}">
                    {{/if}}


                    <span id="productContainer">

                    <div class="products mb-3" id="productList">
                        <div class="row justify-content-center">

                            {{#each productData}}
                            <div class="col-6 col-md-4 col-lg-4">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        {{#if this.stock}}

                                        <a href="/productView?id={{this._id}}">

                                            <img src="/uploads/{{this.imageUrl.[0]}}" alt="Product image"
                                                class="product-image">
                                        </a>


                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                    to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                        

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to
                                                    cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a
                                                href="/productView?id={{this._id}}">{{this.name}}</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            ₹ {{this.price}}
                                        </div><!-- End .product-price -->


                                        {{else}}
                                        <span class="product-label label-out">Out of Stock</span>

                                        <a href="/productView?id={{this._id}}">

                                            <img src="/uploads/{{this.imageUrl.[0]}}" alt="Product image"
                                                class="product-image">

                                        </a>


                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                    to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <button style="border: none;" disabled="disabled"
                                                class="btn-product btn-cart"><span>add to
                                                    cart</span></button>
                                        </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">

                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a
                                                    href="/productView?id={{this._id}}">{{this.name}}</a></h3>
                                            <!-- End .product-title -->
                                            <div class="product-price">
                                                ₹ {{this.price}}
                                            </div><!-- End .product-price -->
                                            {{/if}}


                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 6 Reviews )</span>
                                            </div><!-- End .rating-container -->


                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-4 -->
                                {{/each}}
                            </div><!-- End .row -->
                        </div><!-- End .products -->



                        {{!-- product end --}}




                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item {{#if (eq currentPage 1)}}disabled{{/if}}">
                                    <a class="page-link page-link-prev" href="?page={{subtract currentPage 1}}" aria-label="Previous"
                                        tabindex="-1" aria-disabled="{{eq currentPage 1}}">
                                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                    </a>
                                </li>
                                <li class="page-item-total">Page {{currentPage}} of {{totalPages}}</li>
                                <li class="page-item {{#if (eq currentPage totalPages)}}disabled{{/if}}">
                                    <a class="page-link page-link-next" href="?page={{add currentPage 1}}" aria-label="Next"
                                        aria-disabled="{{eq currentPage totalPages}}">
                                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>






                    </div><!-- End .col-lg-9 -->
                    </span>


                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            
                            <div class="widget widget-clean">
                                <label>Filters:</label>
                                <a href="" class="sidebar-filter-clear"><a href="">Clean All</a></a>
                            </div><!-- End .widget widget-clean -->




                            {{#if categoryFilterData}}

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                        aria-controls="widget-1">
                                        Category
                                    </a>
                                </h3><!-- End .widget-title -->

                                

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            
                                            {{#each categoryFilterData}}
                                            <div class="filter-item">
                                                <div>
                                                    <input type="checkbox" onclick="categoryFilter('{{this._id}}')"  id="cat-1">
                                                    <label class="filterName">{{this.category}}</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">{{this.productCount}}</span>
                                            </div><!-- End .filter-item -->
                                            {{/each}}

                                         
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            {{/if}}



                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                        aria-controls="widget-1">
                                        Sub-Category
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            
                                            {{#each subCategoryData}}
                                            <div class="filter-item">
                                                <div>
                                                    <input type="checkbox" onclick="subCategoryFilter('{{this._id}}')" id="cat-1">
                                                    <label class="filterName">{{this.subCategory}}</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">{{this.productCount}}</span>
                                            </div><!-- End .filter-item -->
                                            {{/each}}

                                         
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->






                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                        aria-controls="widget-1">
                                        Brands
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">


                                            {{#each brandData}}
                                            <div class="filter-item">
                                                <div>
                                                    <input type="checkbox" onclick="brandFilter('{{this._id}}')"  id="cat-1">
                                                    <label  class="filterName" >{{this.name}}</label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count">{{this.productCount}}</span>
                                            </div><!-- End .filter-item -->
                                            {{/each}}
                                            

                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->



                            {{!-- <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
                                        aria-controls="widget-5">
                                        Price
                                    </a>
                                </h3> <!-- End .widget-title -->

                                <div class="collapse show" id="widget-5">
                                    <div class="widget-body">
                                        <div class="filter-price">
                                            <div class="filter-price-text">
                                                Price Range:
                                                <span id="filter-price-range">200</span>
                                            </div><!-- End .filter-price-text -->

                                            <div id="price-slider"></div><!-- End #price-slider -->
                                        </div><!-- End .filter-price -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget --> --}}


                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
</main><!-- End .main -->





<script src="homejs/wNumb.js"></script>
<script src="homejs/bootstrap-input-spinner.js"></script>
<script src="homejs/nouislider.min.js"></script>




{{>productfooter}}