{{>productheader}}

<style>
  @media (max-width: 767px) {
    .col-md-6.d-flex.align-items-center {
      justify-content: center;
    }
  }
   @media (max-width: 767px) {
  .ratings-container,
  .product-price .details-filter-row,
  .product-details-action,
  .product-details-footer {
    justify-content: center;
  }
}
</style>


<main class="main">


    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shop products</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->


    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>

                <li class="breadcrumb-item active" aria-current="page">{{productData.name}}</li>

            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->


    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">


                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    {{#if (eq productData.stock 0)}}
                                    <span class="product-label label-out">Out of Stock</span>
                                    {{/if}}
                                    {{#notEmpty productData.offerlabel}}
                                        <span class="product-label label-sale">Sale</span>
                                    {{/notEmpty}}
                                    <img id="product-zoom" src="{{productData.imageUrl.[0].url}}"
                                        data-zoom-image="{{productData.imageUrl.[0].url}}" alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" href="#"
                                        data-image="{{productData.imageUrl.[0].url}}"
                                        data-zoom-image="{{productData.imageUrl.[0].url}}">
                                        <img src="{{productData.imageUrl.[0].url}}" alt="product">
                                    </a>

                                    <a class="product-gallery-item" href="#"
                                        data-image="{{productData.imageUrl.[1].url}}"
                                        data-zoom-image="{{productData.imageUrl.[1].url}}">
                                        <img src="{{productData.imageUrl.[1].url}}" alt="product">
                                    </a>

                                    <a class="product-gallery-item" href="#"
                                        data-image="{{productData.imageUrl.[2].url}}"
                                        data-zoom-image="{{productData.imageUrl.[2].url}}">
                                        <img src="{{productData.imageUrl.[2].url}}" alt="product">
                                    </a>

                                    <a class="product-gallery-item" href="#"
                                        data-image="{{productData.imageUrl.[3].url}}"
                                        data-zoom-image="{{productData.imageUrl.[3].url}}">
                                        <img src="{{productData.imageUrl.[3].url}}" alt="product">
                                    </a>
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->


                    

                    
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="product-details">
                            <h1 class="product-title">{{productData.name}}</h1>
                            <input name="productName" value="{{productData.name}}" type="hidden">
                            <!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                {{#if productData.oldPrice }}
                                <span class="new-price">₹ {{productData.price}}</span>
                                <span class="old-price">₹ {{productData.oldPrice}}</span>
                                {{else}}
                                ₹ {{productData.price}}
                                {{/if}}
                            </div><!-- End .product-price -->

                            {{!-- <div class="product-content">
                                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus
                                    libero eu augue. Morbi purus libero, faucibus adipiscing. Sed lectus. </p>
                            </div><!-- End .product-content --> --}}



                            {{!-- <div class="details-filter-row details-row-size">
                                <label>Color:</label>

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="assets/images/products/single/1-thumb.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="assets/images/products/single/2-thumb.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row --> --}}




                            <div class="details-filter-row details-row-size">
                                <label for="qty">Qty:</label>
                                <div class="product-details-quantity">
                                    
                                    
                                    <div class="input-group  input-spinner">
                                                
                                                <div class="input-group-prepend">
                                                    <button onclick="productQuantity('{{productData._id}}','dec')" style="min-width: 26px" class="btn btn-decrement btn-spinner" type="button">
                                                        <i  class="icon-minus"></i>
                                                    </button>
                                                </div>
                                                
                                                <input disabled type="number" id="{{productData._id}}" style="text-align: center;" class="form-control" name="num-product" value="1">


                                                <div class="input-group-append">
                                                    <button onclick="productQuantity('{{productData._id}}','inc')" style="min-width: 26px" class="btn btn-increment btn-spinner" type="button">
                                                        <i class="icon-plus"></i>
                                                    </button>
                                                </div>
                                            
                                    </div>
                                
                                
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->


                            
                                
                                        <div class="product-details-action">
                                            {{#if productData.stock}}
                                            {{#if userData}}
                                            {{#if productData.isOnCart}}
                                        
                                            <a href="/cart?id={{userData._id}}" class="btn-product btn-cart"><span>Go to
                                                    cart</span></a>
                                        
                                            {{else}}
                                        
                                        
                                            <span onclick="addToCart('{{productData._id}}')" id="addToCartBtn" class="btn-product btn-cart" style="cursor: pointer;">                                        
                                                <span>Add to
                                                        cart</span>                                    
                                            </span>
                                        
                                        
                                            {{/if}}
                                        
                                            {{else}}
                                        
                                            <a href="/login" class="btn-product btn-cart"><span>Add to cart</span></a>
                                        
                                            {{/if}}
                                            {{else}}
                                        
                                        
                                            <button disabled="disabled" class="btn-product btn-cart"><span>Out of
                                                    stock</span></button>
                                        
                                            {{/if}}
                                        
                                        
                                        
                                        
                                        
                                        
                                            
                                            <div class="details-action-wrapper">
                                                {{#if userData}}
                                                <div onclick="addToWishlist('{{productData._id}}','{{cartId}}')" style="cursor: pointer;"
                                                    class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                                        Wishlist</span>
                                                </div>
                                                {{else}}
                                                <a href="/login"
                                                    class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                                        Wishlist</span>
                                                </a>
                                                {{/if}}
                                        
                                            </div><!-- End .details-action-wrapper -->
                                        </div>
                                    
                                
                            


                            <!-- End .product-details-action -->


                            <div class="product-details-footer">

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                            class="icon-pinterest"></i></a>
                                </div>

                            </div>

                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                    
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->




            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                            role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab"
                            role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab"
                            role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (2)</a>
                    </li> --}}
                </ul>


                <div class="tab-content">


                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                        aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <p>
                                {{productData.description}}
                            </p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->



                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                        aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <h3>Delivery & returns</h3>
                            <p>We deliver to over 100 countries around the world. For full details of the delivery
                                options we offer, please view our <a href="#">Delivery information</a><br>
                                We hope you’ll love every purchase, but if you ever need to return an item you can do so
                                within a month of receipt. For full details of how to make a return, please view our <a
                                    href="#">Returns information</a></p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->



                    {{!-- REVIEW --}}



                    {{!-- <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                        aria-labelledby="product-review-link">
                        <div class="reviews">
                            <h3>Reviews (2)</h3>
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">Samanta J.</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">6 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Good, perfect size</h4>

                                        <div class="review-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum
                                                dolores assumenda asperiores facilis porro reprehenderit animi culpa
                                                atque blanditiis commodi perspiciatis doloremque, possimus, explicabo,
                                                autem fugit beatae quae voluptas!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->

                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">John Doe</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">5 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Very good</h4>

                                        <div class="review-content">
                                            <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis
                                                laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi,
                                                quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->
                        </div><!-- End .reviews -->
                    </div><!-- .End .tab-pane --> --}}





                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->


</main><!-- End .main -->


{{>productfooter}}